@model IEnumerable<cuenta_ahorro.EF.Entities.OpeningSavingAccount>

@{
    var count = 0;
    foreach (var item in Model)
    {
        var color = count == 0 ? "bg-warning" : "";
        <li class="chat-item pr-1 mb-3 add-color @color" AccountNumber="@item.AccountNumber" AccountNumberId="@item.Id" id="account-number-@count" onclick="GetReport(this)">
        <a href="javascript:void(0);" class="d-flex align-items-center">
            <div class="d-flex justify-content-between flex-grow border-bottom">
                <div>
                    <p class="text-body font-weight-bold">@item.AccountNumber</p>
                    <p class="text-body">$ @item.Balance</p>
                </div>
                <div class="d-flex flex-column align-items-end">
                    <p class="text-muted tx-13 mb-1"></p>
                </div>
            </div>
        </a>
    </li>
        count++;
    }
}